{% set def_int = ansible_default_ipv4.interface %}
{% set def_addr = ansible_default_ipv4.address %}
#######################
### ANSIBLE MANAGED ###
#######################

*filter
-F
-X
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

# loopback allowed
-A INPUT -i lo -j ACCEPT
-A OUTPUT -o lo -j ACCEPT

#########################
### BGN INBOUND RULES ###
#########################
# ping in
-A INPUT -i {{ def_int }} -d {{ def_addr }} -p icmp --icmp-type echo-request -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "ping in"
-A OUTPUT -o {{ def_int }} -s {{ def_addr }} -p icmp --icmp-type echo-reply -m state --state ESTABLISHED -j ACCEPT -m comment --comment "ping in"

# ssh in
-A INPUT -i {{ def_int }} -d {{ def_addr }} -p tcp -m tcp --dport 22 -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "ssh in"
-A OUTPUT -o {{ def_int }} -s {{ def_addr }} -p tcp -m tcp --sport 22 -m state --state ESTABLISHED -j ACCEPT -m comment --comment "ssh in"
{% if iptables_webserver %}

# http / https in
-A INPUT -i {{ def_int }} -d {{ def_addr }} -p tcp -m multiport --dports 80,443 -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "http / https in"
-O OUTPUT -o {{ def_int }} -s {{ def_addr }} -p tcp -m multiport --sports 80,443 -m state --state ESTABLISHED -j ACCEPT -m comment --comment "http / https in"
{% endif %}
{% if iptables_zabbix is defined and iptables_zabbix %}

# zabbix in
-A INPUT -i {{ def_int }} -d {{ def_addr }} {% if iptables_zabbix_src is defined %}
-s {{ iptables_zabbix_src+" "-}}
{% endif %}
-p tcp --dport 10050 -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "zabbix in"
-A OUTPUT -o {{ def_int }} -s {{ def_addr }} {% if iptables_zabbix_src is defined -%}
-d {{ iptables_zabbix_src+" "-}}
{% endif %}
-p tcp --sport 10050 -m state --state ESTABLISHED -j ACCEPT -m comment --comment "zabbix in"
{% endif %}
{% if iptables_snmp is defined and iptables_snmp %}

# snmp in
{% for protocol in [ "tcp", "udp" ] %}
-A INPUT -i {{ def_int }} -d {{ def_addr }} {% if iptables_snmp_src is defined %}
-s {{ iptables_snmp_src+" "-}}
{% endif %}
-p {{ protocol }} -m multiport --dports 161,162 -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "snmp in"
-A OUTPUT -o {{ def_int }} -s {{ def_addr }} {% if iptables_snmp_src is defined -%}
-d {{ iptables_snmp_src+" "-}}
{% endif %}
-p {{ protocol }} -m multiport --sports 161,162 -m state --state ESTABLISHED -j ACCEPT -m comment --comment "snmp in"
{% endfor %}
{% endif %}
#########################
### END INBOUND RULES ###
#########################

##########################
### BGN OUTBOUND RULES ###
##########################
# ping out
-A OUTPUT -o {{ def_int }} -s {{ def_addr }} -p icmp --icmp-type echo-request -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "ping out"
-A INPUT -i {{ def_int }} -d {{ def_addr }} -p icmp --icmp-type echo-reply -m state --state ESTABLISHED -j ACCEPT -m comment --comment "ping out"

# ntp / dns out
-A OUTPUT -o {{ def_int }} -s {{ def_addr }} -p udp -m multiport --dports 123,53 -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "ntp / dns out"
-A INPUT -i {{ def_int }} -d {{ def_addr }} -p udp -m multiport --sports 123,53 -m state --state ESTABLISHED -j ACCEPT -m comment --comment "ntp / dns out"
{% if iptables_dhcp %}

# dhcp out
-A OUTPUT -o {{ def_int }} -s {{ def_addr }} -p udp -m multiport --dports 67,68 -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "dhcp out"
-A INPUT -i {{ def_int }} -d {{ def_addr }} -p udp -m multiport --sports 67,68 -m state --state ESTABLISHED -j ACCEPT -m comment --comment "dhcp out"
{% endif %}

# http / https out
-A OUTPUT -o {{ def_int }} -s {{ def_addr }} -p tcp -m multiport --dports 443,80 -m state --state NEW,ESTABLISHED -j ACCEPT -m comment --comment "http / https out"
-A INPUT -i {{ def_int }} -d {{ def_addr }} -p tcp -m multiport --sports 443,80 -m state --state ESTABLISHED -j ACCEPT -m comment --comment "http / https out"
##########################
### END OUTBOUND RULES ###
##########################
{% if (iptables_custom_rules is defined) and (iptables_custom_rules | length > 0) %}

########################
### BGN CUSTOM RULES ###
########################
{% for rule in iptables_custom_rules %}
{{ rule }}
{% endfor %}
########################
### END CUSTOM RULES ###
########################
{% endif %}

# drop rules
-N LOG_INPUT
-A INPUT -j LOG_INPUT
-A LOG_INPUT -j LOG --log-prefix "IPTABLES-INPUT: "
-A LOG_INPUT -j DROP

-N LOG_OUTPUT
-A OUTPUT -j LOG_OUTPUT
-A LOG_OUTPUT -j LOG --log-prefix "IPTABLES-OUTPUT: "
-A LOG_OUTPUT -j DROP

-N LOG_FWD
-A FORWARD -j LOG_FWD
-A LOG_FWD -j LOG --log-prefix "IPTABLES-FORWARD: "
-A LOG_FWD -j DROP

COMMIT
